<div class="background-1"></div>

<div class="background-2"></div>

<div class="road"></div>

<div class="sun"></div>

<div class="cloud"></div>

<div class="cloud2"></div>

<div class="cloud3"></div>

<div class="car" alt="green-car">
  <%= image_tag 'Car.png' %>
</div>

