<div class="wrapper">
  
  <div class="background-1" id="background-1"></div>

<div class="background-2" id="background-2"></div>

<div class="road" id="road"></div>

<div class="sun"></div>

<div class="cloud"></div>

<div class="cloud2"></div>

<div class="cloud3"></div>

<div class="car" alt="green-car">
  <%= image_tag 'Car.png' %>
</div>

<div class="body">
  <h1>Welcome</h1>
</div>
</div>