// Place all the styles related to the animate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.streamlined-nav{
  display: flex;
  justify-content: left;
  height: 50px;
    ul {
      margin: auto auto auto 2px;
      padding: auto;
      list-style: none;
    }

    li { display: inline-block; padding: 2px 5px 20px 2px;
      
    }

    a {
      display: block;
      padding: 6px 20px;
      text-decoration: none;
    }
}


body{
  background: url('TheSky.png');
  z-index: -50;
  max-width: 100%;
}

.wrapper{
  max-width: 100%;
}

.body{
  position: absolute;
  width: 102%;
  height: 1200px;
  background-color: $dark-gold;
  margin: 35% 0px 2px -10px;
  display: flex;
  z-index: 40;
  text-align: center;
}

.background-1{
  background: url('Grass1.png') center repeat-x;
  position: absolute;
  width: 102%;
  height: 50%;
  z-index: 0;
  top: 3%;
  left: 0%;
}

h1{
  margin: 5px auto;
  font-family: $mont;
  color: $crisp-white;
  font-size: 200px;
}

.header{
  background-color: $trans-white;
  @extend .streamlined-nav;
  width: 101%;
  height: 65px;
  position: fixed;
  top: 0px;
  left: -3px;
  z-index: 20;
  text-align: left;
}

#head_img{
  padding-top: 5px;
}
ul li{
  margin-bottom: 500px;
}

.background-2{
  background: url('Grass2.png') center repeat-x;
  position: absolute;
  width: 102%;
  height: 50%;
  z-index: 0;
  top: 27%;
  left: 0%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

.road{
  background: url('Road.png') repeat-x;
  position: absolute;
  width: 102%;
  height: 100%;
  z-index: 0;
  top: -6%;
  left: 0%;
}

.sun{
  background: url('TheSun.png') center no-repeat;
  position: absolute;
  padding: 1% 0 0 15%;
  width: 100%;
  height: 100%;
  z-index: 15;
  top: -40%;
  left: 0%;
}


.cloud{
  background: url('Cloud.png') no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 10%;
  left: 0%;
}

.cloud2{
  background: url('Cloud.png') center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: -40%;
  left: 0%;
  overflow: auto;
}

.cloud3{
  background: url('Cloud.png') center no-repeat;
  position: absolute;
  padding: 8% 0 0 40%;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: -40%;
  left: 0%;
  overflow: auto;
}

.car{
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 2;
}

.car::after{
  content: "";
  display: block;
  width: 170px;
  height: 170px;
  background: url('Gas.png') no-repeat;
  background-size: 170px;
  position: absolute;
  top: 50%;
  left: -15%;
  opacity: 0;
  z-index: 2;
}

//keyframes
@-webkit-keyframes bounce{
 50%{ -webkit-transform: rotate(.03deg) translateY(-2px) translateX(3px);}
}

@-webkit-keyframes gas-burn{
  35%{}
  60%{ opacity: 1;}
  100%{-webkit-transform: translate(-15%, -15%) rotateZ(20deg);}
}


@-webkit-keyframes background{
  100%{background-position: -100%;}
}


@-webkit-keyframes background-grass{
  100%{background-position: -800% }
}

@-webkit-keyframes background-clouds{
  100%{background-position: -200% }
}

@-webkit-keyframes background-ground{
  100%{background-position: -600%}
}

//animations
.car{
  -webkit-animation: bounce 1s ease-in-out infinite;
}

.car::after{
  -webkit-animation: gas-burn 3s 2s ease-in-out infinite;
}

.background-1{
  -webkit-animation: background-grass 200s ease-in-out infinite;
}

.cloud{
  -webkit-animation: background 200s ease-in-out infinite;
}

.cloud2{
  -webkit-animation: background-clouds 175s ease-in-out infinite;
}

.cloud3{
  -webkit-animation: background 140s ease-in-out infinite;
}

.sun{
  -webkit-animation: background 200s ease-in-out infinite;
}

.road{
  -webkit-animation: background-ground 60s ease-out infinite;
}